
body{
  background-image: url(assets/images/William.avif);
  background-repeat:no-repeat;
  background-size: cover;
}

img  {
border-radius: 50%;
}

.parte1{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.box {
  width:700px;
  height: 700px;
  background-color: #000;
  align-items: center;
  }

  .image {
   
    display: flex;
    justify-content: center;

  }
  